{% extends "login_base.html" %}

{% block login_container %}
<div class="card o-hidden border-0 shadow-lg my-5">
  <div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row">
      <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
      <div class="col-lg-7">
        <div class="p-5">
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">注册用户</h1>
          </div>
          <form class="user">
            <div class="form-group">
              <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="请输入用户名">
            </div>
            <div class="form-group">
              <input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="请输入邮箱地址">
            </div>
            <div class="form-group">
              <input type="password" class="form-control form-control-user" id="exampleInputPassword"
                placeholder="请输入密码">
            </div>
            <div class="form-group">
              <input type="password" class="form-control form-control-user" id="exampleRepeatPassword"
                placeholder="请确认密码">
            </div>
            <a href="login.html" class="btn btn-primary btn-user btn-block">
              创建账号
            </a>
          </form>
          <hr>
          <div class="text-center">
            <a class="small" href="forgot-password.html">已有账号，忘记密码?</a>
          </div>
          <div class="text-center">
            <a class="small" href="login.html">已有账号，登录账号!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}